.wrapper {
  display: grid;
  /* 4 equal width grid track */
  grid-template-columns: repeat(4, 130px);
  /* sizes the grid items that were not
       explicitly sized by grid-template-rows(implicitly created rows) */
  grid-auto-rows: 100px;
  gap: 1em;
}

.wrapper .card {
  background-color: black;
  color: grey;
}

.slack {
  max-width: 80%;
  max-height: 80%;
  padding: 10px 25px;
  visibility: hidden;
}
